<footer class="bg-dark text-white py-3 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <p class="mb-0">&copy; {{year}} demoInterview. All Rights Reserved.</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <button (click)="openDocs('policy')" class="bg-transparent border-0 text-secondary">Privacy Policy</button>
        <button (click)="openDocs('terms')" class="bg-transparent border-0 text-secondary">Terms of Service</button>
        <button (click)="openDocs('contact')" class="bg-transparent border-0 text-secondary">Contact Us</button>
      </div>
    </div>
  </div>
</footer>
